h1{
    text-align: center;
    margin-top: 20px;

}

form{
    margin: 50px auto 0 auto;
    width: 300px;

}

input, textarea {
    width: 100%;
    margin-top: 10px;
    height: 30px;
}

button{
    border: 2px solid #FFC0E7;
    background-color: white;
    color: black;
    margin-top: 20px;
    width: 150px;
    height: 40px;
}